body {
    background-image: url("wallpaper-grayjean.jpg");
    background-repeat: initial;
}

div {
    /*border: 3px solid #73AD21;*/
}
.container div {
    margin-left: 1em;
}

.week {
    float: left;
    margin-top: 1em;
}
.week a{
    /*border: 3px solid #000000;*/
    display: block;
    width: 5em;
    height: 2em;
    border-radius: 12px 12px 12px 12px;
    font-size: xx-large;
    text-align: center;
    font-family: Arial, serif;
    color: black;
    text-decoration: none;
}
.week a:hover {

}
.E0 {
    background-color: #E875A4;
}
.E1 {
    background-color: #40e0d0
;
}
.E2 {
    background-color: #6495ed;
}
.E3 {
    background-color: #6495ed;
}
.E4 {
    background-color: #32cd32;
}
.E5 {
    background-color: #32cd32;
}
.E6 {
    background-color: #9370db;
}
.E7 {
    background-color: #9370db;
}

.midExam {
    background-color: #ff6d94;
}
.finalExam {
    background-color: #9cd1ff;
}
#questions {
    margin-top: 3em;
    margin-bottom: 5em;
}

#sketch{
    padding: 1em;
}

#week1{
    padding: 1em;
}

#week2{
    padding: 1em;
}

#week3{
    padding: 1em;
}

#week4{
    padding: 1em;
}

#week5{
    padding: 1em;
}

#week6{
    padding: 1em;
}

#week7{
    padding: 1em;
}

#exam {
    padding: 1em;
}
#finalexam {
    padding: 1em;
}
#stateButton {
    font-size: large;
    font-family: "微軟正黑體", Tahoma , Verdana , Arial , sans-serif;
    position: center;
}
#examresult {
    font-size: x-large;
    padding-left: 1em;
    padding-right: 1em;
}
#result {
    padding: 1em;
    margin-bottom: 5em;
}
.homeworklist {
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
}
.classlist {
    font-size: large;
    padding-left: 1em;
}
#statement {
    font-size: x-large;
    font-family: "微軟正黑體", "Microsoft JhengHei", Tahoma , Verdana , Arial , sans-serif;
    position: center;
}

#foot {
    clear: both;
    color: white;
    text-align: center;
    font-family: Arial, serif;
}