body {
    background-image: url("wallpaper-grayjean.jpg");
    background-repeat: initial;
}

div {
    /*border: 3px solid #73AD21;*/
}
.container div {
    margin-left: 3em;
}

.week {
    float: left;
    margin-top: 1em;
}
.week a{
    /*border: 3px solid #000000;*/
    display: block;
    width: 5em;
    height: 2em;
    border-radius: 12px 12px 12px 12px;
    /*padding-left: 1em;*/
    /*padding-right: 1em;*/
    /*padding-top: 1em;*/
    padding-bottom: 1em;
    font-size: xx-large;
    text-align: center;
    font-family: Arial, serif;
    color: black;
    text-decoration: none;
}
.evenrow {
    background-color: #fff897;
}
.oddrow {
    background-color: seashell;
}
.question {
    padding: 0.5em;
    /*border: 3px solid #4d90fe;*/

}
.account {
    padding: 1em;
    /*border: 3px solid #bfcdde;*/
}
.name {
    padding: 1em;
    /*border: 3px solid #E875A4;*/
}
.classinfo{
    padding: 1em;
    margin-top: 1em;
    font-size: x-large;
}
#studentlist1 {
    /*border: 3px solid #73AD21;*/
    height: 40vh;
    overflow: scroll;
    margin-bottom: 1em;
}
#studentlist2 {
    /*border: 3px solid #dd4b39;*/
    height: 40vh;
    overflow: scroll;
    margin-bottom: 6em;
}

#result{
    padding: 1em;
    margin-top: 5em;
}

.courses {
    padding: 1em;
    font-size: x-large;
}
.problems {
    font-size: x-large;
    position: center;
    background-color: #fff897;
}
.homeworklist {
    font-size: large;
    padding-left: 1em;
    padding-right: 1em;
}
.classlist {
    font-size: large;
    padding-left: 1em;
}
#questiontype a{
    /*border: 3px solid #000000;*/
    display: block;
    width: 7em;
    height: 2em;
    border-radius: 12px 12px 12px 12px;
    font-size: x-large;
    text-align: center;
    font-family: Arial, serif;
    color: black;
    text-decoration: none;
    background-color: #E875A4;
    margin-top: 3em;
}

