body {
    background-image: url("wallpaper-grayjean.jpg");
    background-repeat: initial;
}

div {
 	/*border: 3px solid #73AD21;*/
}


.catalog {
	margin-bottom: 10em;
}

.icon {
    width: 25em;
    height: 25em;
}

#game{
	margin-top: 10em;
	float: left;
}

#demo{
	margin-top: 15em;
	margin-left: 2em;
	float: left;
}

#homework{
	margin-top: 8em;
	margin-left: 2em;
	float: left;
}
#exam {
	display: none;
}
#foot {
    clear: both;
    color: white;
    text-align: center;
    font-family: Chalkboard, serif;
}