#picture{
	;
}

#PPMpicture{
	display:block;
	position:relative;
	margin: auto;
	width: 60%;
	height: auto;
}

#allCategory{
	width: 50em;
	position:relative; /* important */
	top: 15vh;
	left: 10%;
	display:block;
	font-family: 'Microsoft JhengHei';
}

#allCategory ul{
	list-style:none;
}

#allCategory li{
	display:inline;
	font-size: xx-large;
}

#head {
	display:block;
	position:relative; /* important */
	margin-top: 5em;
	margin-bottom: 3em;
	width:30em;
	height:15em;
	background-color:#FFFFFF;
}