#logo {
    display:block;
    position:relative;
    width: inherit;
    height: 20vh;
    margin-top: 15vh;

}
#picture {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#product_picture_info{
	width: 651px; 
	/*top: 175px;*/
	position:absolute; /* important */
	top: 57%;
	left: 50%;
	margin-left: -326px;
	display:block;
}

#product_picture_info ul{
	margin:0;
	padding:0;
	list-style:none;
}

#product_picture_info li{
	display: inline;
	width:317px;
	margin-right:0px;
}