body {
	background-image: url("wallpaper-grayjean.jpg");
	/*background-repeat: initial;*/
	padding-top: 70px;
    padding-bottom: 40px;
	/*background-color: #fff;*/
}

.refresh {
    position: relative;
    top: 30em;
    padding: 0;
}
.form-signin {
	max-width: 400em;
	padding: 15em;
	margin: 0 auto;
}
.form-signin-heading{
	text-align: center;
}
.form-signin .form-label {
    text-align: right;
}
.form-signin .checkbox {
    margin-bottom: 10em;
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10em;
	font-size: 16em;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin .form-submit,
.form-signin .form-control {
    margin: 10em auto;
}

@keyframes cf3FadeInOut {
	0% {
		opacity:1;
	}
	45% {
		opacity:1;
	}
	55% {
		opacity:0;
	}
	100% {
		opacity:0;
	}
}

#cf3 img.top {
	animation-name: cf3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-direction: alternate;
}