#picture{
	display:block;
	position:relative; /* important */
	left : 50%;
	top: 125px;
	margin-left: -272px;
	width:544px;
	height:184px;
	background-color:#FFFFFF;
}

#product_picture_info{
	width: 760px;
	top: 175px;
	position:relative; /* important */
	top: 200px;
	left: 50%;
	margin-left: -380px;
	display:block;
}

#product_picture_info ul{
	margin:0;
	padding:0;
	list-style:none;
}

#product_picture_info li{
	display:inline;
	width:317px;
	margin-right:0px;
}