#picture{
	display:block;
	position:relative; /* important */
	left : 35%;
	top: 125px;
	margin-left: -272px;
	width:50vw;
	height:40vh;
	background-color:#FFFFFF;
}

#product_picture_info{
	width: 760px;
	position:relative; /* important */
	top: 200px;
	left: 50%;
	margin-left: -380px;
	display:block;
}

#product_picture_info ul{
	margin:0;
	padding:0;
	list-style:none;
}

#product_picture_info li{
	display:inline;
	width:317px;
	margin-right:0;
}

#head {
	display:block;
	position:relative; /* important */
	margin-top: 10vh;
	margin-bottom: 3vh;
	margin-left: 35vw;
	width:30vw;
	height:20vh;
	background-color:#FFFFFF;
}