#shoppingCartList{
	display:block;
	position:relative; /* important */
	margin-top: 8vh;
	width:60em;
	height:auto;
	color:#000000;
}

#shoppingCartList_Header{
	position:relative; /* important */
	width:100%;
	height:auto;
	text-align: center;"
}

#shoppingCartList_Header tr{
	height:3vw;
	background-color:#D9FFF5;
}

#shoppingCartList_Header td{
	border: 2px solid #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-family: 'Microsoft JhengHei';
}

.detail {
	width: 20em;
}

.trash {
	width: 5em;
}
.trashButton {
	width: 50%;
}

#shoppingCartList_Footer{
	position:relative; /* important */
	width:100%;
	height:auto;
	padding: 0 10px 10px 10px;
	background-color: #f9f2f4;
	align-content: right;
}

#shoppingCartList_Footer td{
	padding-right:2px;
	width:100%;
	font-size: 20px;
	align-items: right;
	font-family: 'Microsoft JhengHei';
	text-align:right;
}

#shoppingCartList_Footer input.button{
	border-radius:5px;
	background-color:	#EE7700 ;
	color:#FFFFFF;
	font-size: 24px;
	font-family: 'Microsoft JhengHei';
}

